@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$primary-color: #ff6b6b;
$secondary-color: #4ecdc4;
$primary-hover-color: #ff8c8c;
$secondary-hover-color: #7fe5e5;
$danger-color: #dc3545;
